@model Demo.Xss.MVC.Models.Dto
@{
    ViewBag.Title = "Knockout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Knockout</h2>

<br />
<div class="container-fluid">
    <br />
    @using (@Html.BeginForm("SaveIndexDto", "Home", FormMethod.Post))
    {
        <div class="form-group">
            @Html.LabelFor(Model => Model.Name)
            @Html.TextBoxFor(Model => Model.Name);
        </div>
        <div class="form-group">
            @Html.LabelFor(Model => Model.Description)
            @Html.TextBoxFor(Model => Model.Description);
        </div>
        <div>
            <button type="submit">Post</button>
        </div>
    }
</div>